* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(134, 46, 151);
}

.h1 {
  text-align: center;
  padding: 5px;
  margin-top: 30px;
  color: aliceblue;
  font-size: 24px;
}

.flex-start {
  justify-content: start;
}

.item {
  margin: 5px;
  padding: 1px;
  border-radius: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 2px solid aliceblue;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.row-reverse {
  display: flex;
  justify-content: flex-end;
}

.column {
  display: flex;
  justify-content: center;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.space-between {
  display: flex;
  flex: 1;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}
